.hero {
  &__page-four-title {
    color: #fff;
    font-family: Roboto;
    font-size: 22px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 6.6px;
    max-width: 556px;
    margin: 0 auto;
    padding-bottom: 44px;
    text-align: center;
    @media (max-width: 768px) {
      font-size: 18px;
      padding-top: 48px;
      padding-bottom: 76px;
      max-width: 410px;
    }
    @media (max-width: 375px) {
      font-size: 14px;
      max-width: 236px;
      padding-bottom: 62px;
    }
  }

  &__page-four-mobile {
    position: relative;
    background: rgba(0, 0, 0, 0.45);

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
    }
  }
}

.circle-mobile {
  position: relative;
  left: 0;
}

.circle {
  &__wrap-round {

    @media (max-width: 590px) {
      width: 4px;
      height: 4px;
    }

    &::after {
      position: absolute;
      content: "";
      width: 40px;
      height: 40px;
      background: transparent;
      border: 1px solid #ffac30;
      border-radius: 50%;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
      @media (max-width: 590px) {
        width: 22px;
        height: 22px;
      }
    }
  }

  &__wrapp-mobile {
    position: relative;
  }

  &__wrapp-mobile-first {
    &::after {
      left: -79px;
      @media(max-width: 590px) {
        width: 44px;
        left: -35px;
      }
    }
  }

  &__wrapp-mobile-info {
    position: absolute;
    left: 50%;
    top: -16%;
    color: #fff;
    text-align: center;
    font-family: OpenSans;
    font-size: 14px;
    font-weight: 700;
    line-height: normal;
    @media(max-width: 590px) {
      font-size: 12px;
      top: -26%;
    }

    &::after {
      position: absolute;
      content: "";
      width: 26px;
      height: 26px;
      background: rgba(255, 255, 255, 0.25);
      border-radius: 50%;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      opacity: 0.8;
      @media(max-width: 590px) {
        width: 20px;
        height: 20px;
      }
    }
  }

  &__wrap-center-round {

    @media (max-width: 590px) {
      width: 4px;
      height: 4px;
    }

    &::after {
      position: absolute;
      content: "";
      width: 40px;
      height: 40px;
      background: transparent;
      border: 1px solid #ffac30;
      border-radius: 50%;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;

      @media (max-width: 590px) {
        width: 22px;
        height: 22px;
      }
    }
  }

  &__wrap {
    &.active {
      .circle__wrap-text-mobile {
        color: #ffac30;
      }
      .circle__wrap-round::after {
        opacity: 1;
      }
      .circle__wrap-round {
        background: #ffac30;
      }
      &::after {
        background: #ffac30;
      }
      &::before {
        background: #ffac30;
      }
    }
  }

  &__wrap-center {
    position: relative;
    transition: all 0.2s ease;

    &.active {
      .circle__wrap-text-mobile {
        color: #ffac30;
      }
      .circle__wrap-center-round-mobile::after {
        opacity: 1;
      }
      .circle__wrap-center-round-mobile {
        background: #ffac30;
      }

      &::after {
        background: #ffac30;
      }
    }
  }

  &__wrap-last {
    position: relative;

    &::before {
      position: absolute;
      content: "";
      width: 100px;
      height: 1px;
      background: rgba(255, 255, 255, 0.4);
      top: 49%;
      right: -67px;
      @media (max-width: 590px) {
        width: 44px;
        right: -34px;
      }
    }
  }

  &__wrap-last-arrow {
    position: absolute;
    top: 40%;
    right: -96%;
    @media (max-width: 670px) {
      display: none;
    }
  }

  &__wrap-text-mobile {
    font-family: BrunoAceSC;
    font-size: 28px;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    padding-bottom: 24px;
    transition: all 0.2s ease;
    cursor: pointer;
    @media (max-width: 590px) {
      font-size: 14px;
    }
  }

  &__price-mobile {
    font-family: BrunoAceSC;
    font-size: 64px;
    font-weight: 400;
    line-height: 70px; /* 109.375% */
    display: flex;
    align-items: center;
    padding-left: 148px;
    gap: 38px;
    @media (max-width: 768px) {
      padding-left: 0;
      padding-bottom: 33px;
      position: relative;
      bottom: 22px;
    }
    @media (max-width: 590px) {
      font-size: 30px;
      gap: 10px;
      padding-bottom: 0;
    }

    span {
      font-family: OpenSans;
      font-size: 24px;
      font-weight: 400;
      line-height: 48px; /* 200% */
      letter-spacing: 2.4px;
      text-transform: uppercase;
    }
  }
}

.sircle-text-mobile {
  text-align: center;
  font-family: OpenSans;
  font-size: 24px;
  font-weight: 400;
  line-height: 48px; /* 200% */
  letter-spacing: 2.4px;
  position: absolute;
  top: -59px;
  left: 45%;
}
.slider-mobile {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: grab;
  z-index: 2;
}
.value-span-mobile {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;

  text-align: center;
  font-family: BrunoAceSC;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 70px; /* 109.375% */
  @media(max-width: 375px) {
    font-size: 40px;
  }

}

#start-mobile {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(0%, -50%);
}

.hide {
  opacity: 0;
  overflow: hidden;
  visibility: hidden;
  transition: all 1s;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#animated-path-mobile {
  animation: rotate 2s linear infinite;
  transform-origin: center;
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}

#animated-path-mobile {
  animation: pulse 3s ease-in-out infinite;
}

#circle-second-mobile {
  @media (max-width: 590px) {
    width: 180px;
    height: 180px;
  }
}

