.hero {
  // .hero__container

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    max-width: 1920px;
    padding: 0;
    position: relative;
  }

  // .hero__form

  &__form {
    width: 100%;
    z-index: 2;
    background: #fff;
    max-width: 740px;
    min-height: 380px;
    align-self: flex-end;

    @media (max-width: 768px) {
      max-width: 768px;
      min-height: 400px;
    }
    @media (max-width: 767px) {
      min-height: 300px;
    }
    @media (max-width: 340px) {
      min-height: 240px;
    }
  }

  // .hero__form-wrapper

  &__form-wrapper {
    padding: 80px 120px;
    display: flex;
    flex-direction: column;
    gap: 46px;
    @media (max-width: 768px) {
      padding: 90px 124px;
      gap: 50px;
    }
    @media (max-width: 767px) {
      padding: 45px 15px;
    }
    @media (max-width: 340px) {
      padding: 42px 40px 7px 40px;
      gap: 21px;
    }
  }

  &__form-inputs {
    display: flex;
    flex-direction: column;
    gap: 9px;
    position: relative;

    &::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 1px;
      background: rgba(0, 0, 0, 0.15);
      top: 138px;
      left: 0;
      @media (max-width: 340px) {
        top: 38px;
      }
    }
    &::before {
      position: absolute;
      content: "";
      width: 100%;
      height: 1px;
      background: rgba(0, 0, 0, 0.15);
      top: 60px;
      left: 0;
      @media (max-width: 340px) {
        top: 38px;
      }
    }
  }

  // .hero__form-text-button

  &__form-text-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__form-name {
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
    height: 65px;
    color: #000;
    @media (max-width: 340px) {
      font-size: 14px;
      height: 40px;
    }
  }

  &__form-num {
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
    height: 65px;
    color: #000;
    @media (max-width: 340px) {
      font-size: 14px;
      height: 40px;
    }
  }

  // .hero__form-text

  &__form-text {
    color: #ffac30;
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 9px;
    text-transform: uppercase;
    @media (max-width: 550px) {
      font-size: 14px;
    }
  }

  &__form-text-desktop {
    @media (max-width: 340px) {
      display: none;
    }
  }

  &__form-text-mobile {
    display: none;
    @media (max-width: 340px) {
      display: block;
    }
  }

  &__form-button {
    background: #fff;
  }

  &__slogan-wrapper {
    padding: 242px 95px 0 318px;
    display: flex;
    justify-content: space-between;

    @media (max-width: 1250px) {
      padding: 154px 95px 0 185px;
    }
    @media (max-width: 968px) {
      padding: 114px 95px 0 46px;
    }
    @media (max-width: 768px) {
      padding: 0 95px 134px 46px;
    }
    @media (max-width: 670px) {
      padding: 0 10px;
    }
    @media (max-width: 340px) {
      padding: 0 4px 104px 4px;
    }
  }

  &__slogan {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: BrunoAceSC;
    font-size: 96px;
    font-weight: 400;
    line-height: 90px; /* 93.75% */
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    @media (max-width: 670px) {
      font-size: 68px;
    }
    @media (max-width: 420px) {
      font-size: 47px;
    }

    span {
      font-family: Roboto;
      font-size: 16px;
      font-weight: 400;
      line-height: 27.5px; /* 171.875% */
      letter-spacing: 8.24px;
      text-transform: uppercase;
      position: relative;
      left: 6px;
      bottom: 3px;
      @media (max-width: 420px) {
        font-size: 10px;
      }
    }
  }

  &__slogan-bottom {
    padding-left: 188px;
    position: relative;
    bottom: 9px;
    @media (max-width: 670px) {
      padding-left: 94px;
    }
  }

  // .hero__swiper

  &__swiper {
    height: 100vh;

    @media (max-width: 768px) {
      display: none;
    }
  }

  &__swiper-pagination-rounds {
    position: absolute;
    right: 124px;
    top: 349px;
    // @media (max-width: 1250px) {
    //   top: 244px;
    // }
    // @media (max-width: 968px) {
    //   top: 210px;
    // }
    @media (max-width: 862px) {
      display: none;
    }
  }

  &__swiper-pagination-round {
    display: flex;
    flex-direction: column;
    min-height: 160px;
    gap: 16px;
    justify-content: space-between;
    .swiper-pagination-bullet {
      background: rgba(255, 255, 255, 0.3);
      &.swiper-pagination-bullet-active {
        background: #ffac30;
        position: relative;

        &::after {
          position: absolute;
          content: "";
          width: 25px;
          height: 25px;
          background: none;
          border-radius: 50%;
          border: 1px solid rgba(255, 255, 255, 0.3);
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
  }

  &__swiper-round {
  }

  // .hero__page-one

  &__page {
    height: 100%;
    padding-top: 120px;
    background: rgba(0, 0, 0, 0.45);
    @media (max-width: 768px) {
      position: relative;
    }
    @media (max-width: 340px) {
      padding-top: 86px;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      min-height: 100vh;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      @media (max-width: 768px) {
        min-height: unset;
      }
    }
  }

  &__mobile {
    display: none;
    @media (max-width: 768px) {
      display: block;
    }
  }

  &__mobile-text {
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 8.34px;
    text-transform: uppercase;
    padding-top: 17px;
    @media (max-width: 768px) {
      padding-bottom: 84px;
    }
    @media (max-width: 520px) {
      padding-bottom: 36px;
    }
  }

  &__page-new-inner {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  &__page-new-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0 180px;
    @media (max-width: 972px) {
      padding: 0 144px;
    }
    @media (max-width: 860px) {
      padding: 0 44px;
    }
  }

  &__page-new-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33%;
  }

  &__page-new-title {
    color: #fff;
    text-align: center;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 6px;
    text-transform: uppercase;
    max-width: 536px;
    margin: 0 auto;
    padding-top: 107px;
    padding-bottom: 110px;
  }

  &__page-new-num {
    color: #fff;
    font-family: BrunoAceSC;
    font-size: 64px;
    font-weight: 400;
    line-height: 70px; /* 109.375% */
    padding-bottom: 14px;
  }

  &__page-new-info {
    color: #fff;
    font-family: OpenSans;
    font-size: 30px;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    max-width: 218px;
    text-align: center;
  }

  &__page-new-bottom {
    display: flex;
    justify-content: space-between;
    @media (max-width: 1260px) {
      justify-content: flex-end;
    }
  }

  &__page-new-btn {
    display: flex;
    align-items: flex-end;
    padding-left: 392px;
    padding-bottom: 92px;
    gap: 22px;
    @media (max-width: 1580px) {
      padding-left: 110px;
    }
    @media (max-width: 1260px) {
      display: none;
    }
    p {
      color: #fff;
      font-family: OpenSans;
      font-size: 14px;
      font-weight: 600;
      line-height: normal;
      letter-spacing: 6.3px;
      text-transform: uppercase;
    }
  }

  &__page-new-line {
    position: relative;

    &::after {
      position: absolute;
      content: "";
      top: -36px;
      right: 0;
      height: 250px;
      width: 2px;
      background: #fff;
    }
  }

  &__page-three-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    min-height: 100%;
  }

  &__page-three-wrap {
    background: rgba(0, 0, 0, 0.65);
    position: relative;
    transition: all 0.2s ease;

    @media (min-width: 998px) {
      &:hover {
        background: rgba(0, 0, 0, 0.5);
        width: 980px;
        .hero__page-three-title {
          color: #ffac30;
          left: 18%;

          &::after {
            display: block;
          }
        }
        .hero__page-three-text {
          display: block;
        }
        .hero__page-three-button {
          display: flex;
          align-items: center;
        }
      }
    }

    img {
      position: relative;
      z-index: -1;
      width: 100%;
      height: 100vh;
      object-fit: cover;

      @media (max-width: 768px) {
        height: 192px;
      }
      @media (max-width: 375px) {
        height: 160px;
      }

      &.active {
        height: 576px;
        @media (max-width: 375px) {
          height: 480px;
        }
      }
    }
  }

  &__page-three-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-family: BrunoAceSC;
    font-size: 36px;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    @media (max-width: 375px) {
      font-size: 24px;
    }

    &.active {
      top: 16%;

      &::after {
        display: block;
      }
    }

    &::after {
      display: none;
      content: "";
      position: absolute;
      width: 164px;
      height: 174px;
      top: 50%;
      left: 50%;
      border: 1px solid #c4c4c4;
      border-radius: 100%;
      transform: translate(-50%, -50%);
      clip-path: ellipse(60% 100% at 100% 50%);
      @media (max-width: 768px) {
        clip-path: ellipse(86% 60% at 50% 100%);
        width: 170px;
      }
      @media (max-width: 375px) {
        height: 129px;
        width: 127px;
      }
    }
  }

  &__page-three-text {
    display: none;
    position: absolute;
    top: 46%;
    right: 16%;
    max-width: 480px;
    color: #fff;
    font-family: OpenSans;
    font-size: 18px;
    font-weight: 600;
    line-height: 30px; /* 166.667% */
    text-transform: uppercase;

    @media (max-width: 768px) {
      top: 39%;
      font-size: 16px;
      line-height: 24px; /* 150% */
      max-width: 534px;
      right: 15%;
      margin-left: 15px;
    }
    @media (max-width: 375px) {
      font-size: 14px;
      width: 280px;
      text-align: center;
      right: 6%;
      top: 35%;
    }
  }

  &__page-three-button {
    display: none;
    position: absolute;

    @media (max-width: 375px) {
      svg line {
        stroke: #ffac30;
        stroke-opacity: 1;
      }
      svg path {
        stroke: #ffac30;
        stroke-opacity: 1;
      }
    }

    &:hover {
      svg line {
        stroke: #ffac30;
        stroke-opacity: 1;
      }
      svg path {
        stroke: #ffac30;
        stroke-opacity: 1;
      }
    }
    p {
      color: #fff;
      font-family: OpenSans;
      font-size: 14px;
      font-weight: 600;
      line-height: normal;
      letter-spacing: 6.3px;
      text-transform: uppercase;
      transition: all 0.2s ease;

      @media (min-width: 998px) {
        &:hover {
          color: #ffac30;
          font-size: 20px;
          letter-spacing: 9px;
        }
      }
      @media (max-width: 768px) {
        color: #ffac30;
        font-size: 20px;
        letter-spacing: 9px;
      }
      @media (max-width: 375px) {
        display: none;
      }
    }
  }

  &__page-four-title {
    color: #fff;
    font-family: Roboto;
    font-size: 22px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 6.6px;
    max-width: 556px;
    margin: 0 auto;
    margin: 161px 0 0 546px;
    padding-bottom: 44px;

    @media (max-width: 1600px) {
      margin: 0 auto;
      padding-top: 46px;
      padding-bottom: 78px;
    }
    @media (max-width: 768px) {
      font-size: 18px;
      text-align: center;
      max-width: 482px;
    }
    @media (max-width: 570px) {
      font-size: 14px;
      padding-bottom: 64px;
    }
  }

  &__page-four-mobile {
    position: relative;
    background: rgba(0, 0, 0, 0.45);

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
    }
  }
}

.three {
  &__button-top {
    top: 60%;
    left: 49%;
    transform: translate(-51%, -42%);
    gap: 31px;
    @media (max-width: 768px) {
      top: 79%;
      left: 50%;
    }
    @media (max-width: 375px) {
      top: 87%;
      left: 49%;
    }
  }

  &__button-bottom {
    top: 69%;
    left: 51%;
    transform: translate(-51%, -32%);
    gap: 17px;
  }
}
