
.sidebar {
    width: 24px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 76px;
    z-index: 2;
    min-height: 100vh;
    justify-content: space-between;
    padding-bottom: 82px;
    padding-top: 34px;

    @media(max-width: 1780px) {
      padding-left: 10px;
      left: 0;
    }
    @media(max-width: 768px) {
      display: none;
    }

    &__container {
        position: relative;
    }

    &__logo {
      margin-bottom: 158px;
    }
  
    &__wrapper {
      display: flex;
      flex-direction: column;

      @include adaptiv-value(gap, 304, 0, 3);
    }
  
    &__text-wrapper {
      display: flex;
      flex-direction: column-reverse;
      gap: 142px;
      position: relative;
  
      &::before {
        position: absolute;
        content: "";
        width: 1px;
        height: 154px;
        left: 48%;
        background: rgba(255, 255, 255, 0.25);
        @include adaptiv-value(top, 240, 150, 3);
        @include adaptiv-value(height, 154, 0, 3);

      }
    }
  
    &__text {
      transform: rotate(-90deg);
      font-family: Roboto;
      color: rgba(255, 255, 255, 0.5);
      font-weight: 500;
      line-height: normal;
      letter-spacing: 8.34px;
      text-transform: uppercase;

      @include adaptiv-font(12, 10, 3)
    }
  
    &__links {
      display: flex;
      flex-direction: column;
      align-items: center;
      @include adaptiv-value(gap, 41, 0, 3);
    }
  }
  