
<div class="circle-container">
    <div class="circle">
      <p class="sircle-text">
        m <sup>2</sup>
      </p>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="8"
        height="8"
        viewBox="0 0 8 8"
        fill="none"
        id="start"
        class="hide"
      >
        <ellipse
          cx="3.99921"
          cy="4"
          rx="4"
          ry="4"
          transform="rotate(90 3.99921 4)"
          fill="#FFAC30"
        />
      </svg>
      <div class="circle-wrapper">
        <svg
          id="circle-second"
          xmlns="http://www.w3.org/2000/svg"
          width="235"
          height="235"
          viewBox="0 0 235 235"
          fill="none"
        >
          <path
            d="M117.5 234C53.1588 234 1.00001 181.841 1.00001 117.5C1.00001 53.1588 53.1588 0.999992 117.5 0.999995C181.841 0.999998 234 53.1588 234 117.5C234 181.841 181.841 234 117.5 234Z"
            stroke="white"
            stroke-opacity="0.4"
            stroke-width="2"
          />
          <path
            id="circle-path"
            d="M117.5 0C53.1588 0 1.00001 52.159 1.00001 116.5C1.00001 180.841 53.1588 233 117.5 233C181.841 233 234 180.841 234 116.5C234 52.159 181.841 0 117.5 0Z"
            fill="none"
            stroke="orange"
            stroke-width="2"
          />
        </svg>
        <div class="slider">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="46"
            height="46"
            viewBox="0 0 46 46"
            fill="none"
          >
            <ellipse
              cx="23"
              cy="23"
              rx="7"
              ry="7"
              transform="rotate(90 23 23)"
              fill="#FFAC30"
            />
            <path
              d="M23 37.5C14.9919 37.5 8.5 31.0081 8.5 23C8.5 14.9919 14.9919 8.5 23 8.5C31.0081 8.5 37.5 14.9919 37.5 23C37.5 31.0081 31.0081 37.5 23 37.5Z"
              stroke="#FFAC30"
              stroke-opacity="0.5"
              id="animated-path"
            />
            <path
              d="M23 45.5C10.5736 45.5 0.500002 35.4264 0.500003 23C0.500003 10.5736 10.5736 0.499998 23 0.499999C35.4264 0.5 45.5 10.5736 45.5 23C45.5 35.4264 35.4264 45.5 23 45.5Z"
              stroke="#FFAC30"
              stroke-opacity="0.2"
              id="animated-path"
            />
          </svg>
        </div>
      </div>
      <span value="0" class="value-span">0</span>
    </div>
    <div class="circle__wrapper">
      <div class="circle__wrap" id="circle-wrapp">
        <p class="circle__wrap-text" id="circle-elite">
          Elite
        </p>
        <div class="circle__wrap-round"></div>
      </div>
      <div class="circle__wrap-center" id="circle-wrapp">
        <p class="circle__wrap-text" id="circle-vip">
          Vip
        </p>
        <div class="circle__wrap-center-round"></div>
      </div>
      <div class="circle__wrap circle__wrap-last" id="circle-wrapp">
        <p class="circle__wrap-text" id="circle-extra">
          Extra
        </p>
        <div class="circle__wrap-last-arrow">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="31" viewBox="0 0 24 31" fill="none">
            <path d="M1 1L23 15.5L1 30" stroke="white"/>
            </svg>
        </div>
        <div class="circle__wrap-round"></div>
      </div>
    </div>
    <div class="circle__price">
      233 000 <span>UAH</span>
    </div>
  </div>