<div class="hero__page">
    <div class="hero__container">
      <div class="hero__page-new-inner">
        <h2 class="hero__page-new-title">
          elite renovation of your apartment
        </h2>
        <div class="hero__page-new-wrapper">
          <div class="hero__page-new-wrap hero__page-new-line">
            <p class="hero__page-new-num">18</p>
            <p class="hero__page-new-info">years on the market</p>
          </div>
          <div class="hero__page-new-wrap hero__page-new-line">
            <p class="hero__page-new-num">237</p>
            <p class="hero__page-new-info">completed projects</p>
          </div>
          <div class="hero__page-new-wrap">
            <p class="hero__page-new-num">50</p>
            <p class="hero__page-new-info">employees</p>
          </div>
        </div>
        <div class="hero__swiper-pagination-rounds">
          <div class="hero__swiper-pagination-round">
            <div class="hero__swiper-round"></div>
          </div>
        </div>
      </div>
      <div class="hero__page-new-bottom">
        <div class="hero__page-new-btn">
          <p>more info about us</p>
          <a href="#">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="116"
              height="23"
              viewBox="0 0 116 23"
              fill="none"
            >
              <line
                x1="4.37114e-08"
                y1="11.5"
                x2="95"
                y2="11.5"
                stroke="white"
                stroke-opacity="0.5"
              />
              <path
                d="M99 1L115 11.5L99 22"
                stroke="white"
                stroke-opacity="0.5"
              />
            </svg>
          </a>
        </div>
        @@include('../../html/components/heroForm.html', {})
      </div>
    </div>
    <img src="./images/main/page2.png" alt="flat" />
  </div>