<div class="hero__page-three-mobile">
  <a href="#">
    <div class="hero__page-three-wrap">
      <div class="hero__page-three-texts">
        <h2 class="hero__page-three-title">elite</h2>
        <div class="hero__page-three-content">
          <p class="hero__page-three-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat.
          </p>
          <div class="hero__page-three-button three__button-top">
            <p>gallery</p>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="136"
              height="23"
              viewBox="0 0 136 23"
              fill="none"
            >
              <line
                x1="-4.37114e-08"
                y1="11.5"
                x2="115"
                y2="11.5"
                stroke="white"
                stroke-opacity="0.5"
              />
              <path
                d="M119 1L135 11.5L119 22"
                stroke="white"
                stroke-opacity="0.5"
              />
            </svg>
          </div>

          <div class="hero__page-three-button three__button-bottom">
            <p>list of services</p>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="78"
              height="23"
              viewBox="0 0 78 23"
              fill="none"
            >
              <line
                x1="-4.37114e-08"
                y1="11.5"
                x2="57"
                y2="11.5"
                stroke="white"
                stroke-opacity="0.5"
              />
              <path
                d="M61 1L77 11.5L61 22"
                stroke="white"
                stroke-opacity="0.5"
              />
            </svg>
          </div>
        </div>
      </div>

      <img src="./images/main/page3/left.png" alt="flat" />
    </div>
  </a>
  <a href="#">
    <div class="hero__page-three-wrap">
      <div class="hero__page-three-texts">
        <h2 class="hero__page-three-title">vip</h2>
        <div class="hero__page-three-content">
          <p class="hero__page-three-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat.
          </p>
          <div class="hero__page-three-button three__button-top">
            <p>gallery</p>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="136"
              height="23"
              viewBox="0 0 136 23"
              fill="none"
            >
              <line
                x1="-4.37114e-08"
                y1="11.5"
                x2="115"
                y2="11.5"
                stroke="white"
                stroke-opacity="0.5"
              />
              <path
                d="M119 1L135 11.5L119 22"
                stroke="white"
                stroke-opacity="0.5"
              />
            </svg>
          </div>

          <div class="hero__page-three-button three__button-bottom">
            <p>list of services</p>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="78"
              height="23"
              viewBox="0 0 78 23"
              fill="none"
            >
              <line
                x1="-4.37114e-08"
                y1="11.5"
                x2="57"
                y2="11.5"
                stroke="white"
                stroke-opacity="0.5"
              />
              <path
                d="M61 1L77 11.5L61 22"
                stroke="white"
                stroke-opacity="0.5"
              />
            </svg>
          </div>
        </div>
      </div>

      <img src="./images/main/page3/center.png" alt="flat" />
    </div>
  </a>
  <a href="#">
    <div class="hero__page-three-wrap">
      <div class="hero__page-three-texts">
        <h2 class="hero__page-three-title">extra</h2>
        <div class="hero__page-three-content">
          <p class="hero__page-three-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat.
          </p>
          <div class="hero__page-three-button three__button-top">
            <p>gallery</p>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="136"
              height="23"
              viewBox="0 0 136 23"
              fill="none"
            >
              <line
                x1="-4.37114e-08"
                y1="11.5"
                x2="115"
                y2="11.5"
                stroke="white"
                stroke-opacity="0.5"
              />
              <path
                d="M119 1L135 11.5L119 22"
                stroke="white"
                stroke-opacity="0.5"
              />
            </svg>
          </div>

          <div class="hero__page-three-button three__button-bottom">
            <p>list of services</p>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="78"
              height="23"
              viewBox="0 0 78 23"
              fill="none"
            >
              <line
                x1="-4.37114e-08"
                y1="11.5"
                x2="57"
                y2="11.5"
                stroke="white"
                stroke-opacity="0.5"
              />
              <path
                d="M61 1L77 11.5L61 22"
                stroke="white"
                stroke-opacity="0.5"
              />
            </svg>
          </div>
        </div>
      </div>

      <img src="./images/main/page3/right.png" alt="flat" />
    </div>
  </a>
</div>
