<div class="hero__page">
    <div class="hero__container">
      <div class="hero__page-five-inner">
        <h2 class="hero__page-five-title">
            6 steps to your WALTER house:
        </h2>
        <div class="hero__page-five-wrapper">
          @@include('../../html/components/circleFive.html', {})
        </div>
        <div class="hero__swiper-pagination-rounds">
          <div class="hero__swiper-pagination-round">
            <div class="hero__swiper-round"></div>
          </div>
        </div>
      </div>
  
      @@include('../../html/components/heroForm.html', {})
    </div>
    <img src="./images/main/page5/flat.png" alt="flat" />
  </div>
  