
  <form action="#" class="hero__form">
    <div class="hero__form-wrapper">
      <div class="hero__form-inputs">
        <input
          type="text"
          placeholder="Your name"
          class="hero__form-name"
          id="firstName"
        />
        <input
          type="tel"
          placeholder="Your phone number"
          class="hero__form-num"
          id="phoneNum"
        />
      </div>
      <div class="hero__form-text-button">
        <p class="hero__form-text">discuss a project</p>
        <button type="submit" id="heroFormButton" class="hero__form-button">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="121"
            height="23"
            viewBox="0 0 121 23"
            fill="#fff"
          >
            <path d="M104 1L120 11.5L104 22" stroke="#FFAC30" />
            <line
              x1="-4.37114e-08"
              y1="11.5"
              x2="100"
              y2="11.5"
              stroke="#FFAC30"
            />
          </svg>
        </button>
      </div>
    </div>
  </form>

