<div class="hero__page-four-mobile">
    <div class="hero__container">
      <div class="hero__page-new-inner">
        <h2 class="hero__page-four-title">
          Select an area size & one of the service packages:
        </h2>
        <div class="hero__page-four-wrapper">
          @@include('../../html/components/circle.html', {})
          
        </div>

        <div class="hero__swiper-pagination-rounds">
          <div class="hero__swiper-pagination-round">
            <div class="hero__swiper-round"></div>
          </div>
        </div>
      </div>

      @@include('../../html/components/heroForm.html', {})
    </div>
    <img src="./images/main/page4/page4.png" alt="flat" />
  </div>